.wrapper {
  max-width: 1216px;
  margin: 0 auto;
  padding-bottom: 110px;
  h3 {
    font-size: var(--fs-xsl);
    font-family: var(--font-poppins);
    padding-bottom: 70px;
  }
  h4 {
    font-size: var(--fs-lg);
    padding-bottom: 16px;
    //   flex: 0 0 70px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // align-items: stretch;
    // grid-template-columns: repeat(auto-fill, 1fr);
    font-size: var(--fs-md);
    // h4 {
    //   font-size: var(--fs-lg);
    //   padding-bottom: 16px;
    //   //   flex: 0 0 70px;
    // }
    & > div:nth-child(2),
    & > div:nth-child(4) {
      background: #2c2c2c;
      color: #ffffff;
    }
    .advantageElem {
      padding: 24px;
      border-radius: 20px;
      display: grid;
      grid-template-rows: 50px auto 240px;
      gap: 20px;

      //   display: flex;
      //   flex-direction: column;
      //   gap: 20px;
      // .elemContent {
      //   display: flex;
      //   flex-direction: column;
      //   gap: 20px;
      .imageContainer {
        display: flex;
        justify-content: center;
      }
      // }
    }
    .subscribeElem {
      background: var(--color-gradient);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      h4 {
        text-align: center;
      }
      button {
        padding: 15px 30px;
        border-radius: 12px;
        background: #2c2c2c;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
