.wrapper {
  .container {
    background: var(--color-gradient-4);
    // max-width: 1422px;
    padding: 0 clamp(30px, 8vw, 146px) 0 clamp(30px, 13vw, 352px);

    // padding: 0 146px 0 352px;
    min-height: 574px;
    // min-height: 574px;
    display: flex;
    gap: clamp(30px, 5vw, 103px);
    // gap: 103px;
    @media (max-width: 1700px) {
      // padding: 0 30px 0 30px;
      // gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .textBlock {
      padding: clamp(30px, 5vw, 90px) 0 clamp(0px, 5vw, 110px);
      // padding: 90px 0 110px;
      // max-width: 618px;
      flex: 1 1 618px;
      color: white;
      @media (max-width: 1450px) {
        // padding: 30px 0 30px;
        text-align: center;
        // max-width: auto;
        // width: auto;
      }
      h3 {
        font-size: var(--fs-xsl);
        font-family: var(--font-poppins), sans-serif;
        padding-bottom: 50px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
      }
      button {
        color: black;
        font-family: var(--font-inter), sans-serif;
        padding: 20px 60px;
        border-radius: 12px;
        background: white;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .imageBlock {
      // min-width: 701px;
      flex: 1 1 701px;
      // border-radius: 20px;
      // overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
