.logo {
  display: flex;
  background: var(--color-gradient); /* градиент */
  // background: linear-gradient(90deg, #ea543c, #c5aa24);
  -webkit-background-clip: text; /* градиент обрезается по тексту */
  -webkit-text-fill-color: transparent; /* текст становится прозрачным, чтобы был виден градиент */
  font-size: clamp(20px, 3vh, 40px);

  // font-size:  40px;
  gap: 20px;
  align-items: center;
  line-height: 140%;
  font-family: var(--font-inter), sans-serif;
  font-weight: 700;

  div:last-child {
    @media (max-width: 700px) {
      display: none;
    }
  }
}
