@mixin block-style {
  border: 2px solid black;
  color: white;
}
@mixin block-style-different {
  color: black;
  background: white;
}

.wrapper {
  background: var(--color-gradient-3);
  padding: 90px 0 110px 0;
  color: white;
  margin-bottom: 90px;
  h3 {
    font-size: var(--fs-xsl);
    font-family: var(--font-poppins), sans-serif;
  }
  .container {
    font-family: var(--font-inter), sans-serif;
    font-size: var(--fs-lg);
    max-width: 1214px;
    margin: 0 auto;
    .content {
      //   padding-top: 50px;
      display: flex;
      gap: 10px;

      .offer {
        // max-width: 709px;
        padding-top: 50px;

        flex: 0 1 709px;
        div:first-child {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 30px;
        }
        div:last-child {
          padding: 13px 10px;
          border-radius: 12px;
          background: white;
          color: black;
          max-width: 392px;
          display: flex;
          gap: 10px;
          justify-content: space-between;
          align-items: center;
          svg {
            transition: 0.2s ease;
          }
          & > svg:hover {
            cursor: pointer;
            transform: scale(1.4);
          }
        }
        input {
          flex: 1;
        }
        input::placeholder {
          color: #a0a0a0;
          opacity: 1; /* важно для Firefox */
        }
      }
      .principles {
        flex: 0 0 495px;
        height: 288px;
        // flex: 1;
        position: relative;
        div {
          width: 185px;
          height: 64px;
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 12px;
          position: absolute;
        }
        div:nth-child(1) {
          @include block-style-different;
          transform: rotate(-41.59deg);
          bottom: 112px;
          left: 9px;
        }
        div:nth-child(2) {
          @include block-style;
          transform: rotate(19.94deg);
          top: 51px;
          left: 171px;
        }
        div:nth-child(3) {
          @include block-style;
          transform: rotate(12.37deg);
          right: 65px;
          bottom: 81px;
        }
        div:nth-child(4) {
          @include block-style-different;
          transform: rotate(48deg);
          top: 59px;
          right: -3px;
        }
        div:nth-child(5) {
          @include block-style-different;
          bottom: 0;
          left: 0;
        }
        div:nth-child(6) {
          @include block-style;
          transform: rotate(25.96deg);
          bottom: 47px;
          left: 126px;
        }
        div:nth-child(7) {
          @include block-style;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
