.wrapper {
  background: #f2dbbf;
  margin-bottom: clamp(50px, 5vw, 110px);
  .container {
    margin: 0 auto;
    max-width: 1216px;
    // height: 1100px;
    height: clamp(800px, 57vw, 1100px);
    position: relative;
    overflow: hidden;
    @media (max-width: 1000px) {
      height: auto;
      overflow: auto;

      // position: relative;
    }
    .imageBlock {
      max-width: 70%;
      max-height: 90%;
      position: absolute;
      bottom: 0;
      left: 0;
      //   z-index: 1;
      @media (max-width: 1000px) {
        position: relative;
      }
    }
    .textBlock {
      max-width: 598px;
      padding: 48px 24px;
      border-radius: 20px;
      background: var(--color-gradient);
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      color: white;
      font-size: var(--fs-lg);
      position: absolute;
      top: clamp(0px, 10vw, 227px);
      right: 0;
      z-index: 5;
      @media (max-width: 1000px) {
        position: relative;
        top: 0;
        margin: 20px 20px 0 20px;
        // right: 0;
        // width: 50%;
        // height: auto;
      }

      h4 {
        font-size: var(--fs-xll);
        font-family: var(--font-poppins);
        text-align: center;
      }
      div {
        text-align: center;
      }
      button {
        padding: 20px 60px;
        background: white;
        border-radius: 12px;
        color: black;
        cursor: pointer;
        transition-duration: 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
