.wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  &:hover {
    background: var(--color-backgroundRecipe-hover);
  }

  .imageBlock {
    min-height: 310px;
    border-radius: 20px;

    ul {
      padding: 16px;
      display: flex;
      gap: 8px;
      color: white;

      li {
        border-radius: 12px;
        padding: 8px;
        background: var(--color-gradient);
      }
    }
  }

  .title {
    flex: 1 1 auto;

    font-size: var(--fs-lg);
    padding: 16px 0 4px;
    max-width: 287px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 650px) {
      max-width: 100%;
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
    }
  }
  .calorieContent {
    flex: 0;
    background: var(--color-gradient);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // }
}
