.wrapper {
  max-width: 1216px;
  margin: 0 auto clamp(50px, 5vw, 110px);
  display: flex;
  justify-content: center;
  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
  gap: 20px;
  .textBlock {
    flex: 1 1 auto;
    max-width: 597px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @media (max-width: 800px) {
      align-items: center;
    }
    h3 {
      padding-bottom: clamp(30px, 3vw, 70px);
      font-family: var(--font-poppins) sans-serif;
      font-size: var(--fs-xsl);
    }
    p {
      max-width: 495px;
      font-size: var(--fs-lg);
      padding-bottom: 29px;
      @media (max-width: 500px) {
        text-align: center;
      }
    }
    ul {
      width: 495px;
      min-height: 290px;
      position: relative;

      li {
        position: absolute;
        border-radius: 12px;
        min-width: 186px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      li:nth-child(odd) {
        background: var(--color-gradient-3);
        color: white;
      }
      li:nth-child(even) {
        border: 2px solid transparent;
        background: linear-gradient(white, white) padding-box,
          var(--color-gradient) border-box;
      }
      li:nth-child(1) {
        top: 110px;
        left: 9px;
        transform: rotate(-41.81deg);
      }
      li:nth-child(2) {
        top: 51px;
        left: 172px;
        transform: rotate(20.09deg);
      }
      li:nth-child(3) {
        bottom: 81px;
        right: 64px;
        transform: rotate(12.46deg);
      }
      li:nth-child(4) {
        bottom: 48px;
        left: 125px;
        transform: rotate(26.14deg);
      }
      li:nth-child(5) {
        top: 60px;
        right: -6px;
        transform: rotate(47.95deg);
      }
      li:nth-child(6) {
        bottom: 0;
        right: 0;
      }
      li:nth-child(7) {
        bottom: 0;
        left: 0;
      }
      @media (max-width: 550px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: auto;

        li:nth-child(-n + 7) {
          transform: none;
          position: static;
        }
      }
    }
  }
  .imageBlock {
    flex: 1 1 auto;
    max-width: 597px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
