.wrapper {
  max-width: 1216px;
  margin: 110px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 123px;
  @media (max-width: 1300px) {
    gap: 30px;
    margin: 50px auto;
    padding: 0 20px;

    justify-content: center;
  }
  .imageBlock {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .textBlock {
    // flex: 1 1 598px;
    // min-width: 0;
    flex: 1 1 auto;
    max-width: 598px;
    width: 100%;
    // max-width: 598px;
    // @media (max-width: 400px) {
    //   width: 300px;
    //   // padding: 0 20px;
    // }
    // @media (max-width: 1200px) {
    //   padding: 0 20px;
    // }

    h3 {
      font-size: var(--fs-xsl);
      font-family: var(--font-poppins), sans-serif;
      line-height: 110%;
      padding-bottom: 70px;
      @media (max-width: 1200px) {
        padding-bottom: 30px;
      }
    }
    .textInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 30px;
    }
    .advice {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      @media (max-width: 1200px) {
        gap: 10px;
      }
      @media (max-width: 400px) {
        grid-template-columns: 1fr;
      }
      div {
        padding: 24px;
        color: white;
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div:nth-child(1),
      div:nth-child(4) {
        background: var(--color-gradient);
      }
      div:nth-child(2),
      div:nth-child(3),
      div:nth-child(5) {
        background: var(--color-gradient-3);
      }
      div:nth-child(5) {
        grid-column: 1 / -1;
      }
    }
  }
}
