.wrapper {
  background: url("/image/dish-11.png") no-repeat center;
  background-size: cover;
  margin-bottom: clamp(50px, 5vw, 110px);

  .container {
    max-width: 1217px;
    padding: 90px 0 112px;
    margin: 0 auto;
    min-height: 740px;
    color: white;
    h3 {
      font-size: var(--fs-xsl);
      padding-bottom: 30px;
    }
    .content {
      .data {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        color: #a0a0a0;
        padding-bottom: 30px;
        justify-content: center;
        // @media(max-width:650)
        li {
          width: 186px;
          height: 57px;
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 20px;
          border: 1px solid #ea543c;
          cursor: pointer;
          &:hover {
            background: var(--color-gradient);
            color: white;
          }
        }
        .dataActive {
          background: var(--color-gradient);
          color: white;
        }
      }

      .menuDish {
        // display: flex;
        // flex-wrap: wrap;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        gap: 20px;

        .menuDishElem {
          flex: 1 1 auto;
          max-width: 289px;
          @media (max-width: 450px) {
            text-align: center;
          }

          h4 {
            padding-bottom: 20px;
            font-size: var(--fs-lg);
            background: var(--color-gradient); /* градиент */

            -webkit-background-clip: text; /* градиент обрезается по тексту */
            -webkit-text-fill-color: transparent; /* текст становится прозрачным, чтобы был виден градиент */
          }
          .dishElemContent {
            display: flex;
            flex-direction: column;
            gap: 16px;
            div:nth-child(1) {
              height: 50px;
            }
          }
        }
      }
    }
  }
}
