.wrapper {
  padding: clamp(100px, 9vw, 182px) 0 clamp(40px, 5vw, 110px);
  max-width: 1216px;
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  h1 {
    font-size: var(--fs-xsl);
    font-family: var(--font-poppins), sans-serif;
    padding-bottom: clamp(30px, 2vw, 50px);
  }
  .content {
    display: flex;
    gap: 10px;
    @media (max-width: 750px) {
      display: block;
    }
    .option {
      flex: 1 1 auto;
      max-width: 289px;
      width: 100%;

      @media (max-width: 750px) {
        display: flex;
        max-width: none;
        width: none;

        flex-wrap: wrap;
      }
    }
    .recipeContainer {
      flex: 1 1 auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // margin: 0 -10px;
      // grid-auto-flow: row;
      // display: flex;
      // flex-wrap: wrap;
      // gap: 20px;

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
