.wrapper {
  padding: clamp(100px, 9vw, 182px) 0 clamp(40px, 5vw, 110px);
  max-width: 1216px;
  margin: 0 auto;
  flex: 1;

  .content {
    display: flex;
    gap: 20px;
    .option {
      flex: 1 1 auto;
      max-width: 289px;
      width: 100%;
    }
    .recipe {
      flex: 1 1 auto;
      width: 100%;
    }
  }
}
