@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --color-gradient: linear-gradient(135deg, #ea543c, #c5aa24);
  --color-gradient-2: linear-gradient(90deg, #f2dbbf, #f0d7b859);
  --color-gradient-3: linear-gradient(135deg, #34bca6, #c5aa24);
  --color-gradient-4: linear-gradient(180deg, #ea543c, #c5aa24);

  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px */
  --fs-lg: clamp(0.875rem, 2vw, 1.25rem); /* 20px */
  /* --fs-lg: 1.25rem;  */
  --fs-xl: 2rem; /* 32px */
  --fs-xll: 2.5rem; /* 40px */
  --fs-xsl: clamp(1.4rem, 5vw, 3.75rem); /* 60px */
  --fs-xxl: clamp(1.5rem, 5vw, 5rem); /* 70px */
  --fs-xxxl: clamp(3.5rem, 10vw, 7.5rem); /* 120px */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
  h3 {
    text-align: center;
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--font-quicksand), sans-serif;
  font-size: var(--fs-lg);
  color: #1d1d1d;
  position: relative;
}
