.wrapper {
  //   min-height: 1100px;
  background: url("/image/dish-10.png") no-repeat center;
  margin-bottom: 110px;
  @media (max-width: 700px) {
    margin-bottom: 50px;
  }
  .container {
    padding: 252px 0;
    max-width: 1216px;
    margin: 0 auto;
    // text-align: center;
    font-size: var(--fs-xxxl);
    font-weight: 700;
    color: white;
    line-height: 190px;
    @media (max-width: 700px) {
      padding: 40px 0;
    }
    div:first-child {
      padding-left: 150px;
      @media (max-width: 940px) {
        padding: 0;

        text-align: center;
      }
    }
    div:nth-child(2) {
      padding-left: 300px;
      @media (max-width: 1234px) {
        padding-left: 200px;
      }
      // @media (max-width: 940px) {
      //   padding-left: 100px;
      // }
      @media (max-width: 940px) {
        padding: 0;

        text-align: center;
      }
    }
    div:last-child {
      padding-left: 450px;
      @media (max-width: 1234px) {
        padding-left: 250px;
      }
      @media (max-width: 940px) {
        padding: 0;

        text-align: center;
      }
    }
  }
}
