.wrapper {
  padding: 0 20px 90px;
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    // max-width: 1163px;
    gap: 20px;
    // margin: 0 400px;
    .logo {
      display: flex;
      background: var(--color-gradient); /* градиент */
      // background: linear-gradient(90deg, #ea543c, #c5aa24);
      -webkit-background-clip: text; /* градиент обрезается по тексту */
      -webkit-text-fill-color: transparent; /* текст становится прозрачным, чтобы был виден градиент */
      font-size: 40px;
      gap: 20px;
      align-items: center;
      line-height: 140%;
      font-family: var(--font-inter), sans-serif;
      font-weight: 700;
    }

    .navbar {
      //   margin-right: auto;
      display: flex;
      gap: 20px;
      font-size: 17px;
      align-items: center;
      font-family: var(--font-quicksand), sans-serif;
      & > li {
        cursor: pointer;
        padding: 10px 20px;

        &:hover {
          background: var(--color-gradient);
          color: white;
          border-radius: 20px;
        }
      }
    }
  }
}
