.wrapper {
  // padding: 0 20px 90px;

  height: clamp(60px, 13vh, 110px);
  // padding: 10px;
  // height: 200px;
  width: 100%;
  max-width: 1920px;
  // overflow: hidden;

  position: fixed;
  // top: 20px;
  z-index: 1000;
  padding: 0 40px;
  // animation-duration: 0.5s;
  svg {
    height: clamp(50px, 13vh, 95px);
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    height: 100%;
    // margin: 0 auto;

    // max-width: 1163px;
    gap: 20px;
    align-items: center;
    .hamburger {
      width: 50px;
      height: 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 1100;
      background: none;
      border: none;
      span {
        height: 3px;
        background-color: black;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
    }
    .hamburgerOpen span:nth-child(1) {
      transform: rotate(45deg) translate(10px, 16px);
    }
    .hamburgerOpen span:nth-child(2) {
      opacity: 0;
    }
    .hamburgerOpen span:nth-child(3) {
      transform: rotate(-45deg) translate(10px, -16px);
    }

    .overlay {
      position: fixed;
      z-index: 999; // меньше чем navbar
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
.headerBg {
  background: white;
}
