@mixin block-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
  & > div {
    padding: 24px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  h4 {
    font-family: var(--font-nunito), sans-serif;
    font-size: var(--fs-xll);
  }
}

.wrapper {
  max-width: 1216px;
  margin: 0 auto;
  padding-bottom: clamp(40px, 4vw, 90px);
  // padding-bottom: 90px;
  // @media (max-width: 700px) {
  //   padding-bottom: 40px;
  // }

  h3 {
    font-family: var(--font-poppins), sans-serif;
    font-size: var(--fs-xsl);
    margin-bottom: clamp(40px, 3vw, 70px);
    // margin-bottom: 70px;
    // @media (max-width: 700px) {
    //   margin-bottom: 40px;
    // }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .rowOne,
    .rowTwo {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      min-height: clamp(400px, 20vw, 500px);
      // div {
      //   min-height: 100%;
      // }
      // min-height: 500px;
      // max-width: 1216px;
      // a {
      //   cursor: pointer;
      // }
      .breakfast {
        background: url("/image/dish-7.png");
        @include block-background;
        flex: 1 1 40%;
        min-width: 300px;
      }
      .lunch {
        background: url("/image/dish-9.png");
        @include block-background;

        flex: 1;
        min-width: clamp(300px, 25vw, 495px);
        // min-width: 495px;
        // @media (max-width: 500px) {
        //   min-width: 300px;
        // }
      }
      .dinner {
        background: url("/image/dish-5.png");
        @include block-background;

        flex: 1;
        min-width: clamp(300px, 25vw, 495px);

        // min-width: 495px;
        // @media (max-width: 500px) {
        //   min-width: 300px;
        // }
      }
      .smoothie {
        background: url("/image/dish-8.png");
        @include block-background;
        flex: 1 1 40%;
        min-width: 300px;
      }
    }
  }
}
