.wrapper {
  //   min-height: 1100px;
  background: url("/image/dish-6.png") no-repeat center;
  margin-bottom: clamp(40px, 4vw, 90px);
  // margin-bottom: 90px;
  div {
    padding: clamp(40px, 5vw, 112px) 0 clamp(40px, 14vw, 368px);
    // padding: 112px 0 368px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--fs-xxxl);
    font-weight: 700;
    color: white;
    line-height: 190px;
    // @media (max-width: 700px) {
    //   padding: 40px 0;
    // }
  }
}
