.wrapper {
  //   min-height: 1100px;
  background: url("/image/dish-6.png") no-repeat center;
  margin-bottom: 90px;
  div {
    padding: 112px 0 368px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--fs-xxxl);
    font-weight: 700;
    color: white;
    line-height: 190px;
  }
}
