.wrapper {
  max-width: 1217px;
  margin: 0 auto;
  padding-bottom: 110px;
  @media (max-width: 700px) {
    padding-bottom: 50px;
  }
  h3 {
    font-size: var(--fs-xsl);
    font-family: var(--font-poppins), sans-serif;
    padding-bottom: 70px;
    @media (max-width: 700px) {
      padding-bottom: 40px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--font-inter);
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 30px;
      gap: 40px;
    }
    h4 {
      font-family: var(--font-nunito);
      padding-bottom: 20px;
    }
    .price {
      padding-bottom: 30px;
    }
    .fullPrice {
      font-size: var(--fs-xl);
      text-decoration: line-through;
      text-align: center;
    }
    h4,
    .price {
      text-align: center;
      font-size: var(--fs-xll);
    }
    .col {
      border: 1px solid transparent;
      background: linear-gradient(white, white) padding-box,
        var(--color-gradient) border-box;
      border-radius: 20px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: start;
      ul {
        color: #a0a0a0;
        display: flex;
        // align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
        li:nth-child(-n + 4) {
          color: #000000;
        }
        li:nth-child(-n + 4) {
          color: #000000;
          &::before {
            background: black;
          }
        }
        li {
          padding-left: 10px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 11px;
            left: -5px;
            width: 8px;
            height: 8px;
            background: #a0a0a0;
            border-radius: 50%;
          }
        }
      }
      .buttonBlock {
        text-align: center;
        button {
          padding: 20px 60px;
          color: white;
          // text-align: center;
          // flex: 1;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          background: var(--color-gradient);
          border-radius: 12px;
          cursor: pointer;
          // align-self: flex-start;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      &.specialOne {
        ul {
          color: #666;

          li:nth-child(-n + 6) {
            color: #000000;
            &::before {
              background: black;
            }
          }

          // li::before {
          //   background: blue;
          // }
        }
      }

      &.specialTwo {
        background: var(--color-gradient);
        border: 0;

        color: white;
        position: relative;
        ul {
          li {
            color: white;
          }

          li::before {
            background: #ffac58;
          }
        }
        .buttonBlock {
          button {
            background: white;
            color: #000000;
          }
        }
        &::after {
          content: "-15%";
          position: absolute;
          width: 100px;
          height: 100px;
          top: -55px;
          right: -33px;
          border-radius: 50%;
          background: #2c2c2c;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: var(--fs-xl);
          font-family: var(--font-inter);
        }
      }
    }
  }
}
