.pagination {
  font-size: var(--fs-lg-m);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  flex: 1;
  button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 12px;
    &:hover {
      background: rgb(255, 166, 0);
    }
    &:active {
      background: rgba(255, 166, 0, 0.697);
    }
  }

  .active {
    background: var(--color-gradient);

    color: white;
  }
}
