.wrapper {
  .container {
    display: flex;
    justify-content: flex-end;
    // flex-wrap: wrap;

    .textInfo {
      width: 794px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      font-family: var(--font-poppins), sans-serif;
      div {
        font-size: 80px;
      }
      div:nth-child(2) {
        font-weight: 700;
        padding-bottom: 50px;
      }
      button {
        background: linear-gradient(90deg, #ea543c, #c5aa24);
        padding: 22px 60px;
        font-size: 20px;
        border-radius: 12px;
        color: white;
      }
      //   & > div:first-child {
      //   }
      //   & > div:last-child {
      //     font-weight: 700;
      //   }
    }
  }
}
