.wrapper {
  padding-top: 200px;
  position: relative;
  z-index: 5;

  .container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    // flex-wrap: wrap;

    .textInfo {
      width: 794px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      font-family: var(--font-poppins), sans-serif;
      div {
        font-size: var(--fs-xxl);
        // font-size: 80px;
      }
      div:nth-child(2) {
        font-weight: 700;
        padding-bottom: 50px;
      }
      button {
        background: var(--color-gradient);
        padding: 22px 60px;
        font-size: var(--fs-lg);
        border-radius: 12px;
        color: white;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      //   & > div:first-child {
      //   }
      //   & > div:last-child {
      //     font-weight: 700;
      //   }
    }
    .imageWrapper {
      background: var(--color-gradient-2);

      border-radius: 50% 0 0 50%;
    }
  }
}
